body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('cafe_img.jpg');
  min-height: 100%;
  background-position: center;ss
  background-size: cover;
}
